body{
    background-color: rgba(0, 255, 255, 0.30);
}
h1{
    text-align: center;
}
p{
    text-align: justify;
    font-size: 20px;
}
footer {
    float: right;
    right: 5px;
    bottom: 0px;
    font-size: 12px;
}
table{
    font-size: 100px;
}

.formBox {
    border-radius: 100px;
    padding: 50px;
}

.formBox input[type=radio],
.formBox input[type=checkbox] {
    margin: 5px 0;
}
.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=password],
.formBox input[type=list],
.formBox input[type=number],
.formBox textarea{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
}