audio,
video {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px black;
    -webkit-box-shadow: 2px 2px 4px 0px black;
    box-shadow: 2px 2px 4px 0px black;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

audio:hover,
audio:focus,
audio:active,
video:hover,
video:focus,
video:active {
    -webkit-box-shadow: 15px 15px 20px rgb(255, 0, 0);
    -moz-box-shadow: 15px 15px 20px rgb(255, 0, 0);
    box-shadow: 15px 15px 20px rgb(255, 0, 0);
    -webkit-transform: 0.3s scale(1.05);
    -moz-transform: 0.3s scale(1.05);
    transform: 0.3s scale(1.05);
}