body {
    margin: 0px;
    padding: 0px;
}

#leftNav {
    margin-bottom: 20px;
}

#leftNav {
    float: left;
    position: relative;
    z-index: 2;
    width: 200px;
}

#leftNav #leftNavContainer {
    border-right: 1px solid #DDD;
    border-radius: 4px 0;
    border-bottom: 1px solid #DDD;
    margin-left: -10px;
    padding: 0 6px 20px 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

h4,
h3 {
    color: #865597;
}

.name {
    font-weight: bold;
    color: #865597;
}

ul {
    list-style-type: none;
}

tr td {
    border-bottom: 1pt solid #ddd;
}

tr {
    border-bottom: solid;
}

body {
    margin-top: -20px;
    color: #403E3E;
}

.header {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    zoom: 1;
    min-width: 1000px;
    background-color: rgba(221, 221, 221, 0.54);
    border-bottom: solid;
    border-width: 0.5px;
    /* background: url(menu-bg.png) repeat-x; */
    border-bottom: 2px solid #865597;
    color: #865597;
    padding-top: 20px;
    text-align: center;
}

.logo {
    width: 14%;
    max-width: 14%;
    float: left;
}

.heading {
    text-align: center;
    font-family: sans-serif;
}

.footer {
    text-align: center;
}

.down {
    margin-bottom: 1500px;
}

.up {
    margin-top: 1500px;
}

li {
    color: #da6d0d;
}

.price {
    color: #da6d0d;
    font-weight: bold;
}

small {
    color: #403E3E;
    font-weight: normal;
}