body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 50px;
    -webkit-transition: all 1s ease 0.1ms;
    -moz-transition: all 1s ease 0.1ms;
    transition: all 1s ease 0.1ms;
    color: darkgoldenrod;
}

h1:hover {
    font-size: 70px;
}

p {
    text-align: justify;
    font-size: 20px;
    -webkit-transition: all 0.3s ease 1s;
    -moz-transition: all 0.3s ease 1s;
    transition: all 0.3s ease 1s;
}

p:hover {
    font-size: 20.5px;
}

h2 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

h2:hover {
    font-size: 30px;
}

legend {
    font-size: 20px;
}

label {
    font-size: 18px;
    padding: 10px;
    padding-bottom: 100px;
}

footer {
    position: relative;
    float: right;
    right: 5px;
    bottom: 0px;
    font-size: 12px;
}

table {
    /* font-size: 40px; */
}

.formBox {
    padding: 50px;
    /* width: 100%; */
}

.formBox input[type=radio],
.formBox input[type=checkbox] {
    margin: 5px 0;
}

.formBox input[type=text],
.formBox input[type=email],
.formBox input[type=password],
.formBox input[type=list],
.formBox input[type=number],
.formBox textarea,
select {
    width: 990px;
    padding: 12px 20px;
    margin: 8px 0;
}

.formBox input[type=image] {
    width: 40px;
    height: 40px;
}

table label {
    font-size: 18px;
    padding: 10px;
}

table input {
    width: 10px;
}

.tooltip {
    position: sticky;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.70);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}