<section class="container-fluid">
    <h1>What's My Location</h1>
    <p>This page gives a demo of geolocation. The html5 tool helps get the geolocation and used it to render google map. click button to find out.
    </p>
    <button type="button" ng-click="renderMap()" class="btn btn-info">Find Location</button>
    </br>
    <section ng-hide="!dataloaded" class="row container-fluid">
        <div id="map" class="map col-md-10"></div>
        <div class="col-md-2">
            <input type="range" name="zoom" min="1" max="20" ng-model="zoom" ng-change="reloadMap()">
            <p>Zoom:<b>{{zoom}}</b></p>
            <p>Latitude:<b>{{latitude}}</b></p>
            <p>Longitude:<b>{{longitude}}</b></p>
        </div>
    </section>
    <br>
</section>